<style>
    .modal-content{
        background-color:#212121;
    }
</style>


<div class="modal fade" id="Modal-MoreInfo-{{item.id}}" tabindex="-1" >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{item.name}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>{{item.description}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="Modal-Purchase-{{item.id}}" tabindex="-1" >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{item.name}}</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" class="text-center">
            <form method="POST">
                {{ purchase_form.hidden_tag()}}
                <input id="purchased_item" name="purchased_item" type="hidden" value="{{item.name}}">
               <h5> Are you sure, you want to buy {{item.name}} for {{item.price}}$ ?</h5>
               <h6>By clicking on purchase item, you gonna buy it.</h6>
               {{purchase_form.submit(class="btn btn-outline-success btn-block")}}
              
            </form>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>