<style>
  .modal-content{
      background-color:#212121;
      color:white;
  }
  .modal-dialog {
    position: fixed;
    top: 8%; /* Adjust for exact top position */
    left: 30%;
    transform: translate(-50%, 0);
    margin: 0;
    width: auto;
    max-width: 600px;
}


 
</style>


<div class="modal fade" id="Modal-MoreInfo-{{item.id}}" tabindex="-1" >
  <div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-header bg-body-tertiary" style="color:rgba(126, 224, 98, 0.968)">
        <h5 class="modal-title">{{item.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p style="color:azure">{{item.description}}</p>
      </div>
      <div class="modal-footer bg-dark">
        <button type="button" class="btn btn-danger " data-dismiss="modal" >Close</button>
        
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="Modal-Purchase-{{item.id}}" tabindex="-1" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-body-tertiary" style="color:rgb(79, 128, 220)">
        <h4 class="modal-title">{{item.name}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" class="text-center">
          <form method="POST">
              {{ purchase_form.hidden_tag()}}
              <input id="purchased_item" name="purchased_item" type="hidden" value="{{item.name}}">
             <h5 style="color:rgb(235, 239, 133)"> Are you sure, you want to buy {{item.name}} for {{item.price}}$ ?</h5>
             <h6 style="color:azure">By clicking on purchase item, you gonna buy it.</h6>
             {{purchase_form.submit(class="btn btn-outline-success btn-block")}}
            
          </form>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>